/* Глобальний "border-box"
Використовуючи універсальний селектор *, значення border-box встановлюється для всіх елементів і псевдоелементів:

*,
*::before,
*::after {
  box-sizing: border-box;
} 
*/

/**
  |============================
  | LESSON 5 - Block Model
  |============================
*/



/* === Геометрія елемента === */
/* Властивість "padding" */

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #212121;
}

.text {
  padding: 20px;
  background-color: #fff;
  border: 2px dashed #212121;
}

/* Властивість "margin" */

